body {
  margin: 0;
  font-family: Georgia, serif;
  background-color: #d9e5cc;
}
header { 
  background-color: #31743f;
  color: #d9d9d9;
  padding: 40px;
  text-align: center;
  font-size: 32px;
}

nav {
  background-color: #4CAF50; 
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 10px 0;
}

nav a {
  background-color: #CFE8C9;
  color: #237A41;            
  text-decoration: none;
  font-weight: bold;
  padding: 10px 18px;
  border-radius: 8px;
  transition: background-color 0.3s, color 0.3s;
}

nav a:hover {
  background-color: #4B2E2B; 
  color: #FFFCD4;            
}

.sobre-nos {
  background-color: #FFFCD4;
  padding: 40px 20px;
  max-width: 800px;
  margin: 40px auto;
  border-radius: 12px;
  text-align: center;
  position: relative; 
}
.sobre-nos .logo {
  display: block;
  width: 120px;       
  height: auto;
  margin: 0 auto 15px; 
  object-fit: contain;
}

.sobre-nos h2 {
  color: #237A41;
  margin-bottom: 20px;
  font-size: 28px;
}

.sobre-nos p {
  font-size: 18px;
  color: #237A41;
  line-height: 1.6;
  text-align: justify;
}

.circulo,
.earth-image img {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin: 0 auto 20px;
}
footer {
  background-color: #66a36d;
  height: 100px;           
  overflow: hidden;        
  text-align: center;
  padding: 0;
  position: relative;
}

footer .earth-image img {
  display: block;
  width: 100%;
  height: auto;
  margin: 0 auto;
  position: relative;
  top: 0;                  
  max-width: none;         
}
